<div class="row justify-content-center align-items-center">
  <h3>Search</h3>
</div>
<form>
  <div class="form-group">
    <label for="searchString">Name / Phone number / Request ID</label>
    <input type="text" class="form-control" id="searchString" placeholder="Enter Name / Phone number / Request ID">
  </div>
</form>


<table class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">Request No.</th>
      <th scope="col">Nme and Contact</th>
      <th scope="col">Work Details</th>
      <th scope="col">Add Comments</th>
      <th scope="col">Update Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1120</th>
      <td>
        Mark <br> 987654212 <br> address
      </td>
      <td>
        Service - Private
      </td>
      <td>
        <button type="button" class="btn btn-primary">Add</button>
      </td>
      <td>
        <select class="form-control">
          <option>In Progress</option>
          <option>Done</option>
        </select>
      </td>
      <td>
        <button type="button" class="btn btn-primary">Update</button>
      </td>
    </tr>

    <tr>
      <th scope="row">1121</th>
      <td>
        Mark <br> 987654212 <br> address
      </td>
      <td>
        Service - Private
      </td>
      <td>
        <button type="button" class="btn btn-primary">Add</button>
      </td>
      <td>
        <select class="form-control">
          <option>In Progress</option>
          <option>Done</option>
        </select>
      </td>
      <td>
        <button type="button" class="btn btn-primary">Update</button>
      </td>
    </tr>
  </tbody>
</table>
