@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './marerial-icons.css';
@import "~bootstrap/dist/css/bootstrap.css";

body {
    background: #0147A7;
    color: #fff;
    margin: 0;
}
