main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

/* FOOTER THEME */
.docs-footer {
  margin-top: 40px;
  padding: 12px;
  font-size: 12px;
  background: rgba(0,0,0,0.8);
}

.docs-footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.docs-footer-angular-logo {
  height: 50px;
}

.docs-footer-copyright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.docs-footer-links ul {
  list-style: none;
  margin: 0 40px;
  padding: 0;
}

.docs-footer-links ul a {
  font-size: 16px;
  padding: 0;
  text-decoration: none;
  color: #d7d7d7;
}

.docs-footer-links ul a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 884px){
  .docs-footer-list {
    flex-direction: column;
  }
}