main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  
  margin-top: 50px;
  display: block;
}

.salutation-md {
  font-size: 32px;
  text-align: center;
  margin-top: 80px;
}

.light_gry_bg {
  background-color: #ececed;
  padding: 64px 0 20px 0;
}

.footer-support {
  padding: 45px 0;
}

p.link-box a {
  color: red;
  font-size: 16px;
}

.clearfix {
  display: block;
}

.contactcard {
  background: #ffffff;
}

.footer-support .icon-box {
  float: left;
  margin-right: 15px;
  width: 40px;
}

.footer-support .details-box {
  font-size: 16px;
  color: #666;
  height: 80px;
}

.footer-support h4 {
  font-size: 24px;
  color: #666;
  margin-top: 0;
}

.footer-support p.link-box {
  margin-top: 10px;
}

.ohidden {
  overflow: hidden;
}

.footer-support .accordion-trgr-2 {
  padding: 10px 15px;
  background: #eaeaea;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-support .accordion-container-2 {
  padding: 10px 20px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.footer-support .accordion-trgr-2 .fa-chevron-circle-right {
  background-position: -480px 0;
  width: 20px;
  height: 11px;
  float: right;
  margin-top: 10px;
}

.docs-footer {
  margin-top: 0 !important;
}

@media (min-width: 576px) {
 .homepage-contact {
   min-width: 720px;
 }
}

/* FOOTER THEME */
.docs-footer {
  margin-top: 40px;
  padding: 12px;
  font-size: 12px;
  background: rgba(0,0,0,0.8);
}

.docs-footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.docs-footer-angular-logo {
  height: 50px;
}

.docs-footer-links ul {
  list-style: none;
  margin: 0 40px;
  padding: 0;
}

.docs-footer-links ul a {
  font-size: 16px;
  padding: 0;
  text-decoration: none;
  color: #d7d7d7;
}

.docs-footer-links ul a:hover {
  text-decoration: underline;
}

.footerSpace {
  margin-bottom: 20px!important;
  padding: 0;
}

.footer-sitemap ul li h3 a {
  color: #666;
  text-decoration: none;
}

.footer-sitemap ul li a {
  color: #666;
  text-decoration: none;
}

.footer-sitemap ul li a:hover {
  color: red;
  text-decoration: none;
}

.footer-sitemap ul li {
  font-size: 14px;
  list-style: none;
}

ul.sosial-icon li {
  display: inline;
}

.footer-social-title,
.footer-apps-title {
  color: #666;
}

.sosial-icon {
  padding: 0;
}

@media screen and (max-width: 884px){
  .docs-footer-list {
    flex-direction: column;
  }
}
