<!--<div class="container">-->
  <div class="row">

    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img class="img-fluid" src="../../assets/images/bjplogo.png" alt="Profile picture of honourable Bhimrao Tapkir" />
        </div>

        <ul class="list-unstyled components">
            <p>Office Automation</p>
            <li [ngClass]="{'active': selectedItem == 'WL'}" (click)="listClick($event, 'WL')">
                <a [routerLink]="['waitingList']">Waiting List</a>
            </li>
            <li [ngClass]="{'active': selectedItem == 'RM'}" (click)="listClick($event, 'RM')">
                <a [routerLink]="['request']">Request Management</a>
            </li>
            <li [ngClass]="{'active': selectedItem == 'UR'}" (click)="listClick($event, 'UR')">
                <a [routerLink]="['editData']">Update Records</a>
            </li>
            <li [ngClass]="{'active': selectedItem == 'AL'}" (click)="listClick($event, 'AL')">
                <a [routerLink]="['analytics']">Analytics</a>
            </li>
        </ul>
    </nav>

    <div id="content" class="col-lg-7 col-md-8 col-sm-12 col-12 ml-sm-auto col-md-7 pt-3">

    <!--<main role="main" >-->
      <router-outlet></router-outlet>
    <!--</main>-->
    </div>

  <!-- Sidebar Holder -->
  <nav id="waiting-list-sidebar" class="col-lg-2 col-md-12 col-sm-12 col-12 mt-md-5 mt-sm-5 mt-5 pt-3 pl-1 pr-1">
      <p class="header">Waiting List</p>
      <ul class="list-group">

        <li class="list-group-item justify-content-between">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11 col-11 pl-1 pr-0">
              Lorem Ipsumd
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 pl-0 pr-0">
              <a class="btn btn-close">
                <i class="fa fa-window-close" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </li>
        <li class="list-group-item justify-content-between">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11 col-11 pl-1 pr-0">
              Lorem Ipsumd
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 pl-0 pr-0">
              <a class="btn btn-close">
                <i class="fa fa-window-close" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </li>
        <li class="list-group-item justify-content-between">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11 col-11 pl-1 pr-0">
              Lorem Ipsumd
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 pl-0 pr-0">
              <a class="btn btn-close">
                <i class="fa fa-window-close" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </li>
        <li class="list-group-item justify-content-between">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11 col-11 pl-1 pr-0">
              Lorem Ipsumd
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 pl-0 pr-0">
              <a class="btn btn-close">
                <i class="fa fa-window-close" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </li>
        <li class="list-group-item justify-content-between">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11 col-11 pl-1 pr-0">
              Lorem Ipsumd
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 pl-0 pr-0">
              <a class="btn btn-close">
                <i class="fa fa-window-close" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </li>
        <li class="list-group-item justify-content-between">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11 col-11 pl-1 pr-0">
              Lorem Ipsumd
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 pl-0 pr-0">
              <a class="btn btn-close">
                <i class="fa fa-window-close" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </li>
        <li class="list-group-item justify-content-between">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11 col-11 pl-1 pr-0">
              Lorem Ipsumd
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 pl-0 pr-0">
              <a class="btn btn-close">
                <i class="fa fa-window-close" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </li>
        <li class="list-group-item justify-content-between">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11 col-11 pl-1 pr-0">
              Lorem Ipsumd
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 pl-0 pr-0">
              <a class="btn btn-close">
                <i class="fa fa-window-close" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </li>
        <li class="list-group-item justify-content-between">
          <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11 col-11 pl-1 pr-0">
              Lorem Ipsumd
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 pl-0 pr-0">
              <a class="btn btn-close">
                <i class="fa fa-window-close" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </li>
      </ul>
  </nav>



</div>
<!--</div>-->
